div#nav {
    height: 30px;
}

.mic {
    top: 350px;
    height: 44px;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 100%
}

.logo {
    top: 115px;
    text-align: center;
    width: 100%;
    position: absolute;
}

#search {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%
}

#search img {
    display: inline-block;
    margin: 0 auto;
}
#search .logo img {
    position: relative;
}

#search .mic img {
    height: 20px;
    width: 14px;
    padding: 12px;
    margin-left: 150px;
    position: absolute;
}

li {
    height: 30px;
}

input {
    height: 38px;
    width: 484px;
    align-self: center;
    top: 350px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    text-align: right;
}

.left li {
    float: left;
    padding-left: 15px;
}

.right li {
    float: right;
    padding-right: 15px;
}

ul {
    height: 30px;
    list-style: none;
}

#nav img {
    height: 26px;
    width: 26px;
    opacity: 0.75;
    padding: 2px 0px;
}

#nav div {
    display: inline-block;
    vertical-align: middle;
}

#nav {
    top: 20px;
    width: 100%;
    min-width: 800px;
    height: 30px;
    position: absolute;
    /* overflow: scroll; */
}

#nav a {
    color: black;
    height: 30px;
    text-decoration: none;
    font-family: 'Arial';
    vertical-align: middle;
    opacity: 0.75;
    font-size: 12px;
    line-height: 30px;
    /* padding-left: 15px; */
}

#nav button {
    background-color: #4285f4;
    height: 30px;
    /* width: 70px; */
    color: white;
    border-color: #4285f4;
    border-radius: 3px;
    font-weight: bold;
    padding: 0px 13px;
}
